@using Mayor.Web.ViewModels.User
@model AppUserProfileViewModel
@{
    this.ViewData["Title"] = "Profile";
}
<div class="row">
    <div class="col-md-3">
        <h1 style="color:tomato;">@this.ViewData["Title"]</h1>
    </div>
    <div class="col-md-3 offset-md-6" style="padding-left: 50px; padding-top: 10px;">
        @if (Model.IsProfileOwner)
        {
            <p style="margin-bottom: 0px;">
                Settings
                <a class="btn-info btn-lg" asp-area="Identity" asp-controller="Account" asp-action="Manage"><i class="fas fa-cogs"></i></a>
            </p>
        }
    </div>
</div>
<hr class="tm-hr-primary" style="margin-bottom:35px; margin-top: 0px;">

<div class="offset-md-10" style="margin-top:20px;">

</div>
<div class="row form-wrapper" style="margin-left:0px; margin-right:0px; padding-top:0px; padding-left:0px;">
    <div class="col-md-6" style="padding-left:0px;">
        <div>
            <img class="rounded" id="profile-img" style="" src="@Model.ProfilePicUrl" alt="Profile Picture" />
        </div>
        @if (!Model.IsCitizen)
        {
            <div style="margin-left:5px;">
                <p style="margin-bottom: 0px;">Rating: <span class="badge badge-warning badge-pill"> @if (Model.Rating == null) { <text>0</text>  } else {@Model.Rating?.ToString("f2")} / 5</span></p>
            </div>
            <div style="margin-left:5px;">
                <p style="margin-bottom: 0px;">Solved Issues: <span class="badge badge-warning badge-pill"> @Model.SolvedIsseusCount</span></p>
            </div>
            <div style="margin-left:5px;">
                <p style="margin-bottom: 0px;">Active Issues: <span class="badge badge-warning badge-pill"> @Model.ActiveIssuesCount</span></p>
            </div>
        }
        else
        {
            <div style="margin-left:5px;">
                <p style="margin-bottom: 0px;">Issues submitted: <span class="badge badge-warning badge-pill"> @Model.IssuesSubmittedCount</span></p>
            </div>
            <div style="margin-left:5px;">
                <p style="margin-bottom: 0px;">Votes Received: <span class="badge badge-warning badge-pill"> @Model.TotalVotesCount</span></p>
            </div>
            <div style="margin-left:5px;">
                <p style="margin-bottom: 0px;">Total Comments: <span class="badge badge-warning badge-pill"> @Model.TotalCommentsCount</span></p>
            </div>
        }
    </div>
    <div class="col-md-6">
        <p>Email:</p>
        <div class="form-control">
            <p>@Model.Email</p>
        </div>
        <p>Phone Number:</p>
        <div class="form-control">
            <p>@Model.PhoneNumber</p>
        </div>
        @if (Model.IsCitizen)
        {
            <p>Full Name:</p>
            <div class="form-control">
                <p>@Model.FullName</p>
            </div>
            <p>Birthdate:</p>
            <div class="form-control">
                <p>@Model.Birthdate</p>
            </div>
        }
        else
        {
            <p>Name:</p>
            <div class="form-control">
                <p>@Model.Name</p>
            </div>
            <p>Website:</p>
            <div class="form-control">
                <p>@Model.WebsiteUrl</p>
            </div>
            <p>Type</p>
            <div class="form-control">
                <p>@Model.InstitutionType</p>
            </div>
        }
        <div>
            <p>Description:</p>
            <textarea class="form-control" readonly rows="10">@Model.Description</textarea>
        </div>
    </div>
</div>