@using Mayor.Web.ViewModels.Issue
@using System.Security.Claims;
@model SingleIssueViewModel
@{
    this.ViewData["Title"] = "Issue";
}

<div class="row">
    <div class="col-md-3">
        <h1 style="color:tomato;">@this.ViewData["Title"]</h1>
    </div>
    <div class="col-md-1 offset-md-8" style="padding-top:16px;">
        @if (this.User.FindFirst(ClaimTypes.NameIdentifier).Value == this.Model.CreatorUserId)
        {
            <span>
                <a class="btn-danger btn-lg" asp-controller="Issues" asp-action="Delete" asp-route-id="@this.Model.Id"><i class="fas fa-trash-alt"></i></a>
            </span>
        }
    </div>
</div>
<div class="row tm-row">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55"> 
        <img src="@Model.ImageUrl" style="margin-bottom:30px; margin-top:-30px;" width="850" height="535" alt="Issue image">
        <span class="badge badge-warning badge-pill">@Model.StatusStatusCode</span>
    </div>
</div>
<div class="row tm-row">
    <div class="col-lg-8 tm-post-col">
        <div class="tm-post-full">
            <div class="mb-4">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-9">
                                <h2 class="pt-2 tm-color-primary tm-post-title">@Model.Title</h2>
                            </div>
                            <div class="col-md-3">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="vote-btn card-link" onclick="vote(@Model.Id,voteBadge); return false;">Vote</a>
                        <span class="badge badge-primary badge-pill" id="voteBadge">@Model.VotesCount</span>
                    </div>
                </div>
                <p class="text-muted" style="margin-bottom:0px;">@Model.AddressCityName, @Model.Address</p>
                <p class="tm-mb-40 text-muted">@Model.CreatedOn.ToString("d") posted by @Model.CreatorName</p>
                <p>
                    @Model.Description
                </p>
                <p>
                    @string.Join(" ", Model.IssueTags)
                </p>
                @if (Model.Attachments != null && Model.Attachments.Any())
                {
                    <span class="d-block text-left tm-color-primary">
                        Attachments:
                        @for (int i = 0; i < Model.Attachments.Count(); i++)
                        {
                            var attId = Model.Attachments[i];
                            var num = i + 1;
                            <br />
                            <a asp-controller="Issues" asp-action="Download" asp-route-id="@attId">Attachment @num</a>
                        }
                    </span>
                }
                @if (this.User.IsInRole("Institution") && Model.StatusStatusCode != "Solved")
                {
                    <a class="btn-info btn-lg offset-8" asp-controller="Requests" asp-action="New" asp-route-id="@Model.Id">New Request</a>
                }
                else if (this.User.IsInRole("Citizen") && Model.StatusStatusCode == "Solved")
                {
                    <a class="btn-info btn-lg offset-8" asp-controller="Reviews" asp-action="New" asp-route-id="@Model.Id">New Review</a>
                }
            </div>
            <form method="post" id="antiForgeryForm"></form>
            <!-- Comments -->
            <div>
                <h2 class="tm-color-primary tm-post-title">Comments</h2>
                <hr class="tm-hr-primary tm-mb-45">
                <div id="comment-section"><vc:users-comments issue-id="@Model.Id" page="1"></vc:users-comments></div>
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a id="prev-page" class="page-link" onclick="commentsPrev(0, @Model.Id)">Previous</a>                      
                        </li>
                        <li class="page-item">
                            <a id="next-page" class="page-link" onclick="commentsNext(2, @Model.Id)">Next</a>
                        </li>
                    </ul>
                </nav>

                <form method="post" asp-controller="Comments" asp-action="Create" class="mb-5 tm-comment-form">
                    <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                    <div class="mb-4">
                        <label asp-for="CommentInput.Content"></label>
                        <textarea asp-for="CommentInput.Content" class="form-control" rows="6"></textarea>
                        <span asp-validation-for="CommentInput.Content"></span>
                    </div>
                    <input asp-for="CommentInput.IssueId" hidden value="@Model.Id" />
                    <input asp-for="CommentInput.UserId" hidden value="@this.User.FindFirst(ClaimTypes.NameIdentifier).Value" />
                    <div class="text-right">
                        <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>
                    </div>
                </form>
            </div>
            <form method="post" id="antiForgeryForm"></form>
        </div>
    </div>

    <aside class="col-lg-4 tm-aside-col" style="padding-right:0px;padding-left:70px;">
        <hr class="mb-3 tm-hr-primary">
        <div class="tm-post-sidebar">
            <h2 class="tm-mb-40 tm-post-title tm-color-primary">@Model.CategoryName</h2>
            @for (int i = 0; i < Model.SidebarIssues.Count(); i++)
            {
                var issue = Model.SidebarIssues[i];
                <a asp-action="Single" asp-route-id="@issue.Id" class="d-block tm-mb-40">
                    <figure>
                        <img src="@issue.ImageUrl" width="150" height="100" alt="Issue image" class="mb-3 img-fluid">
                        <figcaption class="tm-color-primary">@issue.Title</figcaption>
                        <p class="text-muted">@issue.Description</p>
                    </figure>
                </a>
            }
        </div>
    </aside>
</div>

<script>
    function commentsNext(page, issueId) {
        if (page > @Model.PagesCount) {
            return;
        }
        var id = '#comment-section';
        var data = { IssueId: issueId, Page: page };
        var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
        $.ajax({
            type: 'POST',
            url: '/Comments/GetComments',
            data: JSON.stringify(data),
            headers: {
                'X-CSRF-TOKEN': antiForgeryToken
            },
            success: function (data) {
                $(id).html(data);
                $('#prev-page').attr('onclick', 'commentsPrev(' + (page - 1) + ', ' + issueId + ')');
                $('#next-page').attr('onclick', 'commentsNext(' + (page + 1) + ', ' + issueId + ')');
            },
            contentType: 'application/json',
        });
    }
</script>
<script>
    function commentsPrev(page, issueId) {
        if (page < 1) {
            return;
        }
        var id = '#comment-section';
        var data = { IssueId: issueId, Page: page };
        var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
        $.ajax({
            type: 'POST',
            url: '/Comments/GetComments',
            data: JSON.stringify(data),
            headers: {
                'X-CSRF-TOKEN': antiForgeryToken
            },
            success: function (data) {
                $(id).html(data);
                $('#prev-page').attr('onclick', 'commentsPrev(' + (page - 1) + ', ' + issueId + ')');
                $('#next-page').attr('onclick', 'commentsNext(' + (page + 1) + ', ' + issueId + ')');
            },
            contentType: 'application/json',
        });
    }
</script>