@using Mayor.Web.ViewModels.Issue
@model IssueListViewModel
@{
    this.ViewData["Title"] = "My Issues";
}

<h1 class="col-12" style="color:tomato; margin-bottom:20px;">@this.ViewData["Title"]</h1>
@*<hr style="margin-bottom:20px;" />*@
<div class="row">
    @for (int i = 0; i < this.Model.Issues.Count(); i++)
    {
        var issue = this.Model.Issues.ToArray()[i];

        <div class="card" style="width: 18rem; margin-bottom:10px; margin-left: 10px; border: 1px solid darkturquoise; border-radius: 9px 6px 30px 50px;">
            <img class="card-img-top" width="100" height="200" src="@issue.ImageUrl" alt="Issue image">
            <div class="card-body">
                <h5 class="card-title">@issue.Title</h5>
                <p class="card-text text-muted">@string.Join("", issue.Description.Take(50).ToList())...</p>
            </div>
            <ul class="list-group list-group-flush" style=" font-family:cursive;">
                <li class="list-group-item">@issue.CategoryName</li>
                <li class="list-group-item">@issue.AddressCityName</li>
                <li class="list-group-item">@issue.Address</li>
            </ul>
            <div class="card-body row">
                @*Well aware I should not be using onclick attribute, the usage here is exceptional!*@
                <div class="col-md-6">
                    <a href="#" class="vote-btn card-link" onclick="vote(@issue.Id,@("voteBadge" + i)); return false;">Vote</a>
                    <span class="badge badge-primary badge-pill" id="@("voteBadge" + i)">@issue.VotesCount</span>
                </div>
                <div class="col-md-4 offset-2">
                    <a asp-action="Single" asp-route-id="@issue.Id" class="card-link">Open</a>
                </div>
            </div>
        </div>
    }
</div>
<nav aria-label="..." style="margin-top:15px;">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage) {<text>disabled</text>}">
            <a class="page-link" asp-action="My" asp-route-id="@Model.PreviousPageNumber">Previous</a>
        </li>
        @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-action="My" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item active">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @for (int i = Model.PageNumber + 1; i < Model.PageNumber + 3; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-action="My" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item  @if (!Model.HasNextPage) {<text>disabled</text>}">
            <a class="page-link" asp-action="My" asp-route-id="@Model.NextPageNumber">Next</a>
        </li>
    </ul>
</nav>
<hr style="margin-top:10px; margin-bottom:20px;" />