@using Mayor.Web.ViewModels.Issue
@model SingleIssueViewModel
@{
    this.ViewData["Title"] = "Issue";
}

<h1 style="color:tomato;">@this.ViewData["Title"]</h1>
<div class="row tm-row">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <!-- Video player 1422x800 -->
        <img src="@Model.ImageUrl" style="margin-bottom:30px; margin-top:-30px;" width="900" height="535" alt="Issue image">
        <span class="badge badge-warning badge-pill">@Model.StatusStatusCode</span>
    </div>
</div>
<div class="row tm-row">
    <div class="col-lg-8 tm-post-col">
        <div class="tm-post-full">
            <div class="mb-4">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="pt-2 tm-color-primary tm-post-title">@Model.Title</h2>

                    </div>
                    <div class="col-md-6">
                        <a href="#" class="vote-btn card-link" onclick="vote(@Model.Id,voteBadge); return false;">Vote</a>
                        <span class="badge badge-primary badge-pill" id="voteBadge">@Model.VotesCount</span>
                    </div>
                </div>
                <p class="text-muted" style="margin-bottom:0px;">@Model.AddressCityName, @Model.Address</p>
                <p class="tm-mb-40 text-muted">@Model.CreatedOn.ToString("d") posted by @Model.CreatorName</p>
                <p>
                    @Model.Description
                </p>
                <p>
                    @string.Join(" ", Model.IssueTags)
                </p>
                <span class="d-block text-left tm-color-primary">
                    Attachments:
                    @for (int i = 0; i < Model.Attachments.Count(); i++)
                    {
                        var attId = Model.Attachments[i];
                        var num = i + 1;
                        <br />
                        <a asp-controller="Issues" asp-action="Download" asp-route-id="@attId">Attachment @num</a>
                    }
                </span>
                @if (this.User.IsInRole("Institution"))
                {
                    <a class="btn-info btn-lg offset-8" asp-controller="Requests" asp-action="New" asp-route-id="@Model.Id">New Request</a>
                }
            </div>

            <!-- Comments -->
            <div>
                <h2 class="tm-color-primary tm-post-title">Comments</h2>
                <hr class="tm-hr-primary tm-mb-45">
                <div class="tm-comment tm-mb-45">
                    <figure class="tm-comment-figure">
                        <img src="img/comment-1.jpg" alt="Image" class="mb-2 rounded-circle img-thumbnail">
                        <figcaption class="tm-color-primary text-center">Mark Sonny</figcaption>
                    </figure>
                    <div>
                        <p>
                            Praesent aliquam ex vel lectus ornare tritique. Nunc et eros
                            quis enim feugiat tincidunt et vitae dui. Nullam consectetur
                            justo ac ex laoreet rhoncus. Nunc id leo pretium, faucibus
                            sapien vel, euismod turpis.
                        </p>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="tm-color-primary">REPLY</a>
                            <span class="tm-color-primary">June 14, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="tm-comment-reply tm-mb-45">
                    <hr>
                    <div class="tm-comment">
                        <figure class="tm-comment-figure">
                            <img src="img/comment-2.jpg" alt="Image" class="mb-2 rounded-circle img-thumbnail">
                            <figcaption class="tm-color-primary text-center">Jewel Soft</figcaption>
                        </figure>
                        <p>
                            Nunc et eros quis enim feugiat tincidunt et vitae dui.
                            Nullam consectetur justo ac ex laoreet rhoncus. Nunc
                            id leo pretium, faucibus sapien vel, euismod turpis.
                        </p>
                    </div>
                    <span class="d-block text-right tm-color-primary">June 21, 2020</span>
                </div>
                <form action="" class="mb-5 tm-comment-form">
                    <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                    <div class="mb-4">
                        <input class="form-control" name="name" type="text">
                    </div>
                    <div class="mb-4">
                        <input class="form-control" name="email" type="text">
                    </div>
                    <div class="mb-4">
                        <textarea class="form-control" name="message" rows="6"></textarea>
                    </div>
                    <div class="text-right">
                        <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <aside class="col-lg-4 tm-aside-col">
        <div class="tm-post-sidebar">
            <hr class="mb-3 tm-hr-primary">
            <h2 class="tm-mb-40 tm-post-title tm-color-primary">@Model.CategoryName</h2>
            @for (int i = 0; i < Model.SidebarIssues.Count(); i++)
            {
                var issue = Model.SidebarIssues[i];
                <a asp-action="Single" asp-route-id="@issue.Id" class="d-block tm-mb-40">
                    <figure>
                        <img src="@issue.ImageUrl" width="150" height="100" alt="Issue image" class="mb-3 img-fluid">
                        <figcaption class="tm-color-primary">@issue.Title</figcaption>
                        <p class="text-muted">@issue.Description</p>
                    </figure>
                </a>
            }

            @*<button id="b1" class="btn-info col-md-5 offset-md-7" style="font-size:20px">Next <i class="fa fa-chevron-right"></i></button>*@
        </div>
    </aside>
</div>